/* variables globales*/
@import '../Header/Header.css';
/* */
#titulo_funcion_Ventas{
    position:absolute;
    top:8.5rem;
    left: var(--padding_sidevar);
    right: var(--margin_top);
    padding-top: 0px !important;   
    color:#76c9f8;
}

#nav_buttons_Ventas{
    
    
    width:11rem;
    right:0px;
    margin-left: auto;
    
}

#controlesVentas{
    position: absolute;
    left: var(--padding_sidevar);
    right: var(--margin_top);
    height: 6rem;
    top:11.5rem;
    background-color:#76c9f8;
}



.card-body {
    padding: 1%;
}
.row{
    padding: 5px;
}


#table_display_Ventas{
    overflow:auto;
    position: absolute;
    left: var(--padding_sidevar);
    right: var(--margin_top);
    top: 16rem;
    bottom:var(--margin_bottom);
    z-index: 4;
    margin-bottom: 0px !important;
    padding: 0px !important;
     
}

#table_display_Ventas th{
    position: sticky;
    top: 0;
    z-index: 10; 
    background: #fff;
    text-align: center;
    
}
#table_display_Ventas tr{
    text-align: center;  
}
#table_display_Ventas td{
    text-align: center;
    
}